:root {
    --vt-c-white: #ffffff;
    --vt-c-green-washed: #e5f7f0;
    --vt-c-metal: #b0c4de;
    --vt-c-grass: #4b7054;
    --vt-c-black: #181818;
    --vt-c-indigo: #2c3e50;
    --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
    --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
    --vt-c-text-light-1: var(--vt-c-indigo);
    --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
    --vt-c-text-dark-1: var(--vt-c-white);
    --vt-box-shadow: 0px 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
    --color-background-card: var(--vt-c-green-washed);
    --color-background-light: var(--vt-c-white);
    --color-background-dark: var(--vt-c-grass);
    --color-border: var(--vt-c-divider-light-2);
    --color-border-hover: var(--vt-c-divider-light-1);
    --color-heading: var(--vt-c-text-light-1);
    --color-text: var(--vt-c-text-light-1);
    --color-text-hover: var(--vt-c-text-light-2);
    --color-button-hover: var(--vt-c-metal);
    --color-card-details-background: var(--vt-c-white);
    --transition-short: 0.2s;
    --border-radius-small: 0.25rem;
    --border-radius-medium: 0.5rem;
    list-style: none;
}

* {
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    color: var(--color-text);
    background-color: #e5e5f7;

    transition: color 0.5s, background-color 0.5s;
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: #e3ffe8;
    background-image: linear-gradient(
            30deg,
            #cbffcb 12%,
            transparent 12.5%,
            transparent 87%,
            #cbffcb 87.5%,
            #cbffcb
        ),
        linear-gradient(
            150deg,
            #cbffcb 12%,
            transparent 12.5%,
            transparent 87%,
            #cbffcb 87.5%,
            #cbffcb
        ),
        linear-gradient(
            30deg,
            #cbffcb 12%,
            transparent 12.5%,
            transparent 87%,
            #cbffcb 87.5%,
            #cbffcb
        ),
        linear-gradient(
            150deg,
            #cbffcb 12%,
            transparent 12.5%,
            transparent 87%,
            #cbffcb 87.5%,
            #cbffcb
        ),
        linear-gradient(
            60deg,
            #cbffcb77 25%,
            transparent 25.5%,
            transparent 75%,
            #cbffcb77 75%,
            #cbffcb77
        ),
        linear-gradient(
            60deg,
            #cbffcb77 25%,
            transparent 25.5%,
            transparent 75%,
            #cbffcb77 75%,
            #cbffcb77
        );
    background-size: 38px 67px;
    background-position: 0 0, 0 0, 19px 33px, 19px 33px, 0 0, 19px 33px;
}

#game-setup {
    position: absolute;
    top: 5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--color-background-card);
    padding: 4em 0;
    box-shadow: var(--vt-box-shadow);
}
#game-setup div,
form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
div#player-list {
    background-color: var(--color-background-light);
    margin: 1rem;
    padding: 1rem;
    display: none;
}
#game-setup input {
    margin: 0.5rem;
}
.game-over {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 33vh;
}
button {
    background: var(--color-background-light);
    border: none;
    position: relative;
    overflow: hidden;
    border-radius: var(--border-radius-medium);
    color: var(--color-text);
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    transition: var(--transition-short);
    user-select: none;
    white-space: nowrap;
}

button:hover {
    background: var(--color-button-hover);
    border-color: var(--color-border-hover);
    color: var(--color-text-hover);
}

.card {
    background: var(--color-background-card);
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius-small);
    color: var(--color-text);
    padding: 0.5rem 1rem;
    text-align: center;
    transition: background-color 0.5s, border-color 0.5s, color 0.5s;
    white-space: wrap;
    box-shadow: var(--vt-box-shadow);
}

.previous-round-card {
    margin: 2rem 1rem;
    width: 50%;
}
#round-results h2 {
    margin: 1rem;
}
.previous-round-cards {
    display: flex;
    align-items: center;
    flex-direction: column;
}

dialog#round-results {
    display: inline;
    margin: auto;
}

#lead-player-output {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
}

div#hand {
    width: 18rem;
    height: 27rem;
    margin: 0.5em;
}
div#turn-status {
    display: none;
    padding: 0.5em;
    background: var(--color-background-soft);
    margin: 2em 0;
    color: var(--color-text);
    border-radius: var(--border-radius-small);
    background-color: var(--color-background-card);
    width: 18rem;
}

button#reset-game {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1rem;
    display: none;
}

button#end-game-setup {
    margin: 1rem;
    display: none;
}

div#attribute-buttons {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: column;
}

div#game-output {
    display: flex;
}

div#non-leader-cards {
    margin: 0.5em;
    display: flex;
    overflow: hidden;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    justify-content: end;
}

div#non-leader-cards > div {
    margin: 0 0.5rem;
    width: 18rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#game-results {
    bottom: 0;
    left: 0;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.player-scores {
    margin: 1rem;
    background-color: aliceblue;
    border-color: #951616;
    padding: 0.5rem;
    border-width: medium;
}

.attributes {
    display: flex;
    flex-direction: column;
    border-color: var(--color-border);
    border-width: 0.2rem;
    border-style: solid;
}

.attribute {
    margin: 0.5rem;
    line-height: 1.5rem;
}

button.attribute-button,
.attribute {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 0;
}

h3.card-title,
p.fact {
    background-color: var(--color-background-light);
    padding: 0.5em;
    border-color: var(--color-border);
    border-width: 0.2rem;
    border-style: solid;
    margin: 1em 0 1em 0;
}

p.fact {
    height: 3rem;
    justify-content: center;
    white-space: normal;
    overflow: hidden;
}

li.lost {
    text-decoration: line-through;
    color: var(--vt-c-text-dark-2);
}

.sheen:after {
    content: "";
    position: absolute;
    top: -50%;
    right: -50%;
    bottom: -50%;
    left: -50%;
    background: linear-gradient(
        to bottom,
        rgba(229, 172, 142, 0),
        rgba(255, 255, 255, 0.5) 50%,
        rgba(229, 172, 142, 0)
    );
    transform: rotateZ(60deg) translate(-5em, 7.5em);
}
.sheen:hover::after,
button:focus::after {
    animation: sheen 0.5s forwards;
}
@keyframes sheen {
    100% {
        transform: rotateZ(60deg) translate(1em, -9em);
    }
}

button:active {
    box-shadow: 0px 0px 0px white;
    -webkit-box-shadow: inset -2px 2px 2px #ccc;
    -moz-box-shadow: inset -2px 2px 2px #ccc;
    box-shadow: inset -2px 2px 2px #ccc;
    transform: translate(0, 2px);
    color: #ffc491;
    background-color: #ede358;
}
button:focus {
    outline: 0;
}

@media (width < 990px) {
    body {
        /* set the base font size to 20px */
        font-size: 25px;
    }
    div#non-leader-cards {
        flex-direction: column;
        align-items: flex-end;
    }
    div#game-play-area {
        display: block;
    }
    #lead-player-output {
        display: block;
    }
}
