:root {
    --vt-c-white: #ffffff;
    --vt-c-white-soft: #f8f8f8;
    --vt-c-white-mute: #f2f2f2;
    --vt-c-wood: #8b4513;
    --vt-c-leather: #a0522d;
    --vt-c-metal: #b0c4de;
    --vt-c-fabric: #d2b48c;
    --vt-c-plastic: #778899;
    --vt-c-glass: #5f9ea0;
    --vt-c-ceramic: #ffdead;
    --vt-c-black: #181818;
    --vt-c-black-soft: #222222;
    --vt-c-black-mute: #282828;
    --vt-c-indigo: #2c3e50;
    --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
    --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
    --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
    --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);
    --vt-c-text-light-1: var(--vt-c-indigo);
    --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
    --vt-c-text-dark-1: var(--vt-c-white);
    --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
    --color-background: var(--vt-c-fabric);
    --color-background-soft: var(--vt-c-leather);
    --color-background-mute: var(--vt-c-ceramic);
    --color-border: var(--vt-c-divider-light-2);
    --color-border-hover: var(--vt-c-divider-light-1);
    --color-heading: var(--vt-c-text-light-1);
    --color-text: var(--vt-c-text-light-1);
    --color-text-hover: var(--vt-c-text-light-2);
    --color-button-hover: var(--vt-c-metal);
    --color-card-details-background: var(--vt-c-white);
    --transition-short: 0.2s;
    --transition-medium: 0.5s;
    --transition-long: 1s;
    --border-radius-small: 0.25rem;
    --border-radius-medium: 0.5rem;
    --border-radius-large: 1rem;
    list-style: none;
}

* {
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    color: var(--color-text);
    background: var(--color-background);
    transition: color 0.5s, background-color 0.5s;
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#game-setup {
    position: absolute;
    top: 5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#game-setup div,
form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#game-setup input {
    margin: 0.5rem;
}

button {
    background: var(--vt-c-white);
    border: none;
    position: relative;
    overflow: hidden;
    border-radius: var(--border-radius-medium);
    color: var(--color-text);
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    transition: var(--transition-short);
    user-select: none;
    white-space: nowrap;
}

button:hover {
    background: var(--color-button-hover);
    border-color: var(--color-border-hover);
    color: var(--color-text-hover);
}

.card {
    background: var(--color-background);
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius-small);
    color: var(--color-text);
    padding: 0.5rem 1rem;
    text-align: center;
    transition: background-color 0.5s, border-color 0.5s, color 0.5s;
    white-space: wrap;
}

#lead-player-output {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div#hand {
    width: 18rem;
    height: 27rem;
    margin: 0.5em;
}
div#turn-status {
    padding: 0.5em;
    background: var(--color-background-soft);
    margin: 1em;
}

button#reset-game {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1rem;
    display: none;
}

button#end-game-setup {
    margin: 1rem;
    display: none;
}
div#game-play-area {
    display: flex;
}

div#attribute-buttons {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: column;
}

div#game-output {
    display: flex;
}

div#non-leader-cards {
    position: absolute;
    right: 0;
    margin: 0.5em;
    width: min-content;
    display: flex;
}

div#non-leader-cards > div {
    margin: 0.5em;
    width: 18rem;
    height: 27rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#game-results {
    bottom: 0;
    left: 0;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.player-scores {
    margin: 1rem;
    background-color: aliceblue;
    border-color: #951616;
    padding: 0.5rem;
    border-width: medium;
}

.attributes {
    display: flex;
    flex-direction: column;
    border-color: var(--color-border);
    border-width: 0.2rem;
    border-style: solid;
}

button.attribute-button,
.attribute {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 0;
}

h3.card-title,
p.fact {
    background-color: var(--color-card-details-background);
    padding: 0.5em;
    border-color: var(--color-border);
    border-width: 0.2rem;
    border-style: solid;
    margin: 1em 0 1em 0;
}

p.fact {
    height: 3rem;
    justify-content: center;
    white-space: normal;
    overflow: hidden;
}

li.lost {
    text-decoration: line-through;
    color: var(--vt-c-text-dark-2);
}

.sheen:after {
    content: "";
    position: absolute;
    top: -50%;
    right: -50%;
    bottom: -50%;
    left: -50%;
    background: linear-gradient(
        to bottom,
        rgba(229, 172, 142, 0),
        rgba(255, 255, 255, 0.5) 50%,
        rgba(229, 172, 142, 0)
    );
    transform: rotateZ(60deg) translate(-5em, 7.5em);
}
.sheen:hover::after,
button:focus::after {
    animation: sheen 0.5s forwards;
}
@keyframes sheen {
    100% {
        transform: rotateZ(60deg) translate(1em, -9em);
    }
}

button:active {
    box-shadow: 0px 0px 0px white;
    -webkit-box-shadow: inset -2px 2px 2px #ccc;
    -moz-box-shadow: inset -2px 2px 2px #ccc;
    box-shadow: inset -2px 2px 2px #ccc;
    transform: translate(0, 2px);
    color: #ffc491;
    background-color: #ede358;
}
button:focus {
    outline: 0;
}
